body {
    font-family: 'Readex Pro', sans-serif;
}

body::before{
    content:''; 
    background-image: linear-gradient(115deg, rgba(57, 180, 218, 0.8), rgb(132, 196, 236, 0.8)), url(../assets/teamwork.jpg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    text-align: center;
}

form {
    width: 50vw;
    height: auto;
    margin: auto;
    border: solid 1px white;
}

.form-section {
    border: solid 1px black;
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 21px;
}

.form-title {
    margin: auto;
}

.form-group {
    text-align: left;
}

label {
    display: block;
    padding-bottom: 10px;
}

input {
    margin-bottom: 25px;
}

.text-field {
    width: 100%;
}

.btn {
    margin-right: 10px;
}

textarea{
    resize: none;
}
textarea::placeholder{
    font-size: 21px;
}
